<h2 class="mapTitle">{{ city.city }}, {{ city.state }} {{ city._id }} &nbsp; (Pop: {{ city.pop | number:0 }})</h2>

<div id="map" map-location="" latitude="44.0006" longitude="-72.140638">
</div>        

<script type="text/html" id="locationControl">

    <form class="pure-u-1-4 pure-form pure-form-stacked map-control">
        
      <fieldset class="callToAction">
          
        <legend> City Location</legend>
        <label for="latitude">Latitude:</label>
        <input id="latitude" class="pure-input-1" type="text" ng-model="latitude">
        <label for="longitude">Longitude:</label>
        <input id="longitude" class="pure-input-1" type="text" ng-model="longitude">
          
      </fieldset>
        
    </form>

</script>

<h3 class="mapTitle">{{ city.loc[1] }} &nbsp; {{ city.loc[0] }}</h3>
