<h2 class="mapTitle"> New England Map</h2>

<div id="map" region-map-location="" latitude="44.189964567493" longitude="-68.96284258984372">
</div>        

<script type="text/html" id="whereControl">

    <form class="pure-u-1-4 pure-form pure-form-stacked map-control">
        
      <fieldset class="callToAction">
          
        <legend> Location</legend>
        <label for="latitude">Latitude:</label>
        <input id="latitude" class="pure-input-1" type="text" ng-model="latitude">
        <label for="longitude">Longitude:</label>
        <input id="longitude" class="pure-input-1" type="text" ng-model="longitude">
          
      </fieldset>
        
    </form>

</script>
